html{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
}

form{
    background-color: #FAF0E6;
    border: 3px solid #DCDCDC;            
    margin: 20px auto;
    width: 350px;
    font-family: 'Times New Roman', Times, serif;
}

label{
    width: 150px;
    display: inline-block;
}

input{
    width: 100px;
}       

textarea{
    width: 100px;
}

ul{
    list-style: none;            
}  

button{
    border: none;
    border-radius: 10px;
    padding: 30px;
    background-color: #145c97;
    color: #F8F8FF;
    font-size: 20px;
    box-shadow: 0 10px #062c49;
    cursor: pointer;
}
button:hover{
    background-color: #008080;
    color: #ece4e4;
}
 
button:active{
    background-color: #6495ED;
    box-shadow: 0 4px #363636;
}
